.third{
    position: absolute;
    bottom: 50px;
    right: 50px;

}
button{
    position: relative;
    border: solid 3px $buttonBorderColor;
    border-radius: 10px;
    color: $iconColor;
    text-transform: uppercase;
    background-color:transparent;
    height: 35px;
    width: 120px;
    font-size: 12px;
    margin-top: -15px;
    cursor: pointer;
    z-index: 1;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}