/*Variable*/
$iconColor: whitesmoke;
$iconShadow: lightgray;
$paperColor: hsl(230, 89%, 62%);
$paperShadow: hsla(230, 89%, 65%, 0.7);
$scissorsColor: hsl(39, 89%, 49%);
$scissorsShadow: hsla(40, 84%, 53%, 0.7);
$spockColor: hsl(189, 59%, 53%);
$spockShadow: hsla(189, 58%, 57%, 0.7);
$lizardColor: hsl(261, 73%, 60%);
$lizardShadow: hsla(261, 72%, 63%, 0.7); 
$rockColor: hsl(349, 71%, 52%);
$rockShadow: hsla(349, 70%, 56%, 0.7);
$primalColor:rgb(24, 35, 67);
$buttonBorderColor: hsl(217, 16%, 45%);
$gradientOne: violet;
$gradientTwo: hsla(217, 16%, 45%, 0.2);
$gradientThree: hsla(229, 25%, 31%, 0.2);
$gradientFour: hsla(214, 47%, 23%, 0.2);

@mixin flex($direction, $justifyContent) {
    display: flex;
    flex-direction: $direction;
    align-items: center;
    justify-content: $justifyContent;
}

/*Utility*/
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
html, body{     
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 16px;    
}
body{
    position: relative;
}
.container{
    background-color: $primalColor ;
    width: 100%;
    min-height: 100vh;  
    background-color: $primalColor; /* For browsers that do not support gradients */
    background-image: radial-gradient(circle, hsl(215, 49%, 22%),  hsl(231, 49%, 16%));
    background-repeat: no-repeat;
    padding: 70px 0px;
    overflow: hidden;
}

/*Header*/

.first{   
    height: 150px;
    width: 700px;
    padding: 0px 30px;
    border: solid 3px $buttonBorderColor ;
    border-radius: 10px;
    @include flex(row, space-between);    
    z-index: 1;
}
.score{
    width: 150px;
    height: 100px;
    background-color: $iconColor;
    border-radius: 10px;
    text-align: center;
    padding: 15px 0px;   
    }
h1{
    font-size: 50px;   
}
p{
    color: hsl(229, 64%, 46%);    
    text-transform: uppercase;    
    font-size: 12px;
    font-weight: 700;
}
#original{
    /*display: none;*/
    font-size: 24px;
    &:hover{
        color: $iconColor;        
    }
}
#bonus{
    display: none;
    font-size: 24px;
}
#bonus:hover{    
    color: $iconColor;      
    }


/*Rules*/
.rules-container{
    display: none;
    width: 100%;
    min-height: 100%;
    background-color: rgba(24, 35, 67, 0.9);
    background-color: rgba(5, 5, 17, 0.7);
    position: absolute;
    top: 0;
    z-index: 2;
}

.rules{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate( -50%, -50%);
    padding: 30px;
    height: 460px;
    width: 405px;
    text-align: center;
    border-radius: 10px;
    background-color: $iconColor;
    -webkit-transform: translate( -50%, -50%);
    -moz-transform: translate( -50%, -50%);
    -ms-transform: translate( -50%, -50%);
    -o-transform: translate( -50%, -50%);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    .first-row{
        margin-bottom: 30px;
    }
}
h2{
    text-transform: uppercase;
    font-size: 28px;
}

/*Gradient*/

.gradient{
    display: none;
 }
 .gradient.win{
   position: absolute;
   bottom: -220px;
   left: -210px;  
   z-index: -1;    
 }
 .gradient.lose{
     position: absolute;
     bottom: -220px;
     left: 425px;  
     z-index: -1;
 }
 @keyframes win{
     0%{ transform: scale(0.5); -webkit-transform: scale(0.5); -moz-transform: scale(0.5); -ms-transform: scale(0.5); -o-transform: scale(0.5); }     
     20%{transform: scale(2);}    
     40%{transform: scale(0.7);}     
     60%{transform: scale(1.5);}         
     80%{transform: scale(0.85);}    
     100%{transform: scale(1);}
 }
 
 .gradient-one{
     border-radius: 50%;
     background-color: $gradientOne;
     width: 280px;
     height: 280px;
 }
 .gradient-two{
     border-radius: 50%;
     background-color: $gradientTwo ;
     padding: 70px;
     width: 420px;
     height: 420px;    
 }
 .gradient-three{
     border-radius: 50%;
     background-color: $gradientThree ;
     padding: 70px;
     width: 560px;
     height: 560px;
 }
 .gradient-four{
     border-radius: 50%;
     background-color: $gradientFour;
     padding: 65px;
     width: 700px;
     height: 700px;
     animation: win 1.5s ease-in-out ;
     -webkit-animation: win 1.5s ease-in-out ;
}
 .animation-equal{
     animation: equal 1.5s linear;
 }
 @keyframes equal{
     0%{transform: rotate(10deg);}
    
     35%{ transform: rotate(350deg); -webkit-transform: rotate(350deg); -moz-transform: rotate(350deg); -ms-transform: rotate(350deg); -o-transform: rotate(350deg); }
    
     70%{transform: rotate(10deg);}
    
     100%{ transform: rotate(350deg); -webkit-transform: rotate(350deg); -moz-transform: rotate(350deg); -ms-transform: rotate(350deg); -o-transform: rotate(350deg); }
 }
 
 
 /*Main Game*/
 .game {
    @include flex(row, center);
    padding: 80px;
    .paper{
        box-shadow: 0px 14px  $paperShadow;
    }
    .scissors{
        box-shadow: 0px 14px $scissorsShadow;
    }
    .rock{
        box-shadow: 0px 14px $rockShadow;       
    }
    .spock{
        box-shadow: 0px 14px $spockShadow;
    }
    .lizard{
        box-shadow: 0px 14px $lizardShadow;
    }
    p{
        font-size: 16px;
        color: $iconColor;
    }
    .icon{
        width: 280px;
        height: 280px;
        margin: 70px 35px -35px 35px;
        
    }
    .icon:hover{
        transform: scale(1);
    }    
     .icon-bg{
        position: absolute;
        width: 210px;
        height: 210px;
        box-shadow: 0px 11px inset $iconShadow;
        z-index: 10;
    }
    img{
        width: 90px;
        height: auto;
    }
    .blank{    
        background-color: transparent ;
        .icon-bg{
         background-color: $primalColor; 
         box-shadow: none;
        }
     }
     .blank:hover{
         transform: scale(1.2);
     }
}

/*Play Again */

#play-again{
    display: none;
    margin: 0px 35px;
}
.play-again{
    width: 210px;
    height: 45px;
    p{
        color: hsl(349, 71%, 52%);
        font-size: 12px;
    }
}
.animation-linear{
    animation: anim 2s linear;
}
@keyframes anim{
    0%{color: yellow;
    transform: scale(1.2);}
    30%{color: green;
    transform: rotate(180deg);}
    60%{
    color: red;
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
}
    80%{
    color: blue;
    transform: rotate3d(180deg);
    -webkit-transform: rotate3d(180deg);
    -moz-transform: rotate3d(180deg);
    -ms-transform: rotate3d(180deg);
    -o-transform: rotate3d(180deg);
}
    100%{
    color: violet;
    transform: scale(1.7);
    -webkit-transform: scale(1.7);
    -moz-transform: scale(1.7);
    -ms-transform: scale(1.7);
    -o-transform: scale(1.7);
}
}

/*Game*/

.main{
    @include flex(column, space-between);
}
.second{
    background-image: url('../images/bg-triangle.svg');
    background-repeat: no-repeat;
    background-position: center;
    @include flex(column, space-between);
    z-index: 1;
    display: none;
}
.first-row{      
    @include flex(row, space-between);    
    margin-bottom: -55px;
}
.icon{   
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: $iconColor;    
    @include flex(column, center);
    margin: 35px;
    animation: click 0.1s linear;
}
.icon:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
@keyframes click{
    0% {
        transform: scale(1);
        opacity: 0;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
}
    50% {
        transform: scale(0.2);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 1;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
}
}
.icon-bg{
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background-color: $iconColor;
    @include flex(column,center);
    box-shadow: 0px 7px inset $iconShadow;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
#bonus-intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../images/bg-pentagon.svg');
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
   /* display: none;*/
}
.bonus-first-row{
    display: flex;
    flex-direction: row;
    margin-top: 165px;
}
.bonus-second-row{
    @include flex(row, space-between);
}
.icon-bonus{
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background-color: $iconColor;
    @include flex(column, center);
    margin: 20px 20px;   
}
.icon-bonus:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.icon-bonus-bg{
    width: 107px;
    height: 107px;
    border-radius: 50%;
    background-color: $iconColor;
    @include flex(column, center);
    box-shadow: 0px 5px inset $iconShadow;
    
}
.icon-bonus.scissors{
    position: relative;
    bottom: 125px;
   
}
.paper{    
    background-color: $paperColor ;
    box-shadow: 0px 10px $paperShadow ;
    
}
.scissors{
    background-color: $scissorsColor;
    box-shadow: 0px 10px $scissorsShadow;
}
.spock{
    background-color: $spockColor;
    box-shadow: 0px 10px $spockShadow;
}
.lizard{
    background-color: $lizardColor;
    box-shadow: 0px 10px $lizardShadow;        
}
.rock{
    background-color: $rockColor;
    box-shadow: 0px 10px $rockShadow;       
}
.third{
    position: absolute;
    bottom: 50px;
    right: 50px;

}
button{
    position: relative;
    border: solid 3px $buttonBorderColor;
    border-radius: 10px;
    color: $iconColor;
    text-transform: uppercase;
    background-color:transparent;
    height: 35px;
    width: 120px;
    font-size: 12px;
    margin-top: -15px;
    z-index: 1;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.start-game{
    display: none;
}
#player-card{
    position: relative;
}
#house-card{
    display: none;
    position: relative;
}

.game-div{
   @include flex(column, center);  
  z-index: 1;
  h2{
    text-transform: uppercase;
    font-size: 36px;
    color: $iconColor;
    margin-bottom: 25px;
  }
}
.icon img{
    width: 70px;
}
.game img{
    width: 90px;
    height: auto;
}

@media screen and (max-width: 1000px){
    #play-again{
        flex-direction: column;
        position: relative;
        top: 325px;
        width: 0px;
        text-align: center;
        margin: 0px;
        h2{            
            width: 230px;
        }        
    }
    .gradient.lose{
        left: 145px;
    }
}

@media screen and (max-width: 750px){
    .container{
        padding: 30px 0;
    }
    /*Header*/
    .first{
        width: 317px;
        height: 90px;
        padding: 0 20px;
    }
    .logo img{
        height: 45px;
        width: auto;
    }
    .score{
        width: 70px;
        height: 70px;
        padding: 10px 0px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
}
    .score p{
        font-size: 9px;
    }
    h1{
        font-size: 30px;
    }
    #original, #bonus{
        font-size: 12px;
    }

    /*Rules*/

    .rules{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 50%; 
        .first-row{
            flex-direction: column;
            margin-top: 80px;
            align-items: center;
        }
        .first-row img{
            position: relative;
            top: 460px;
        }  
    }   
    
     /*Gradient*/
    .gradient.win{
        position: relative;
        bottom: 610px;
        left: -97px;  
      }      
      .gradient.lose{
          position: relative;
          bottom: 610px;
          left: 87px;
      }
    .gradient-one{
        width: 130px;
        height: 130px;
    }
    .gradient-two{
        padding: 20px;
        width: 170px;
        height: 170px;
    }
    .gradient-three{
        padding: 30px;
        width: 230px;
        height: 230px;
    }
    .gradient-four{
        padding: 35px;
        width: 300px;
        height: 300px;
    }

    /*Play Again*/

    #play-again{
        top: 160px;
        h2{
            font-size: 40px;
            letter-spacing:-5px;
            margin-bottom: 10px;
        }
        p{
            margin-top: 0px;
            font-size: 16px;
            letter-spacing: -1px;
            color: hsl(237, 49%, 15%);
        }
    }
    
    /*Game*/   
    
    .first-row{
        margin-bottom: -70px;
    }
    .second .icon, .game .icon, #house-card{
        width: 130px;
        height: 130px;
        margin: 95px 27px 14px 27px;        
    }
    .icon-bg, .game .icon-bg{
        width: 100px;
        height: 100px;
    }
    .icon img{
        width: 45px;
        height: auto;
    }
    .icon-bonus{
        width: 95px;
        height: 95px;
        margin: 17px;
    }
    .icon-bonus-bg{
        width: 72px;
        height: 72px;
    }
    .icon-bonus img{
        width: 32px;
        height: auto;
    }
    .icon-bonus.scissors{
        position: relative;
        bottom: 80px;
    }
    .bonus-first-row{
        margin-top: 135px;
    }
    .bonus-first-row .icon-bonus{
        margin: 15px 7px;
    }    
    .paper, .game .paper{
        box-shadow: 0px 6px $paperShadow;
    }
    .scissors, .game .scissors{
        box-shadow: 0px 6px $scissorsShadow;
    }
    .rock, .game .rock{
        box-shadow: 0px 6px $rockShadow;        
    }
    .spock, .game .spock{
        box-shadow: 0px 6px $spockShadow;
    }
    .lizard, .game .lizard{
        box-shadow: 0px 6px $lizardShadow;
    }
    .game .icon-bg{       
        box-shadow: 0px 5px inset $iconShadow;
    }
    .blank .icon-bg{
        box-shadow: none;
    }
    .second{
        background-size: 160px;
       background-position-y: 170px;
    }
    #bonus-intro{
        background-size: 216px;
        background-position-y: 140px;
    }
    .third{
        width: 100%;
        bottom: 40px;
        right:0;
        text-align: center;
    }
    button{
        height: 40px;
        width: 135px;
    }    
    .game{
        padding: 0px; 
        p{
            font-size: 10px;
        }       
    }    
    .game-div{
        @include flex(column-reverse, center );           
        z-index: 1;
        margin-bottom: 148px;  
        p{
         margin-top: 20px;
        }    
     }         
    .score.play-again{
        width: 200px;
        height: 40px;
    }
    
}
